:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --clr-dark: #303030;
  --clr-accent: #bf94e4;
  --shadow: 0.25em 0.25em 0.75em rgb(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --background-color: linear-gradient(-70deg,
      #d9b08c 30%,
      rgba(0, 0, 0, 0) 30%);
  scroll-behavior: smooth;
  scroll-padding-top: 4.7em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
  color: var(--clr-dark);
  font-family: var(--ff-primary);
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./img/vecteezy_grey-gradient-abstract-backgrounds_.jpg") no-repeat center/cover;
  box-shadow: 0px 6px 20px -10px rgb(73, 71, 71);
  overflow: hidden;
}

/*Navbar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding-block: 15px;
  border-block-end: 1px solid hsl(0, 0%, 0%, 0.1);
  z-index: 4;
}

.header>.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-inline: 30px;
}

.logo {
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 700;
}

.nav-toggle-btn {
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
}

.nav-toggle-btn .line {
  width: 30px;
  height: 2px;
  background-color: black;
  transition: 0.25s ease;
  display: block;
}

.nav-toggle-btn .line:not(:last-child) {
  margin-block-end: 8px;
}

.nav-toggle-btn.active .line-1 {
  transform: translateY(10px) rotate(45deg);
}

.nav-toggle-btn.active .line-2 {
  transform: translateX(-100%);
  opacity: 0;
}

.nav-toggle-btn.active .line-3 {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: white;
  padding-inline: 30px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.navbar.active {
  max-height: 250px;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-list {
  margin-block: 25px;
}

.navbar-link {
  color: black;
  font-family: var(--ff-primary);
  font-size: 1.4rem;
}

.navbar a {
  font-weight: 700;
}

@media (min-width: 992px) {
  .nav-container {
    padding-inline: 50px;
  }

  .header {
    background-color: transparent;
    border-block-end: none;
    padding-block: 25px;
    transition: 0.25s ease;
  }

  .header.active {
    background-color: white;
    padding-block: 20px;
    box-shadow: 0px 2px 11px 2px rgba(14, 14, 14, 0.3);
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
    transition: 0.25s ease;
  }

  .navbar {
    visibility: hidden;
  }

  .navbar.active {
    visibility: visible;
  }

  .navbar-list {
    display: flex;
    gap: 20px;
    margin-block: 0;
  }

  .navbar-link {
    opacity: 0;
    transform: translateX(20px);
    font-weight: 400;
    transition: 0.25s ease;
  }

  .navbar.active .navbar-link {
    opacity: 1;
    transform: translateX(0);
  }

  .navbar-link:is(:hover, :focus) {
    color: hsl(10, 100%, 57%);
  }
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: auto;
}

h1 {
  font-family: var(--ff-primary);
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1;
}

.name {
  font-weight: 900;
}

.intro__subtitle {
  font-family: var(--ff-secondary);
  background-color: #303179;
  padding: 0.75em 6em;
  color: rgba(255, 255, 255, 0.904);
  position: relative;
  transform: skew(-30deg);
}

.intro__subtitle p {
  margin: 0;
}

.intro__subtitle>span {
  display: block;
  transform: skew(30deg);
  font-size: 1.7rem;
}

.intro img {
  max-width: 25%;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 300px;
  height: auto;
}

.socials-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--clr-dark);
  padding: 0.2em 2em;
  font-weight: 700;
}

.socials-intro>a {
  margin-top: 0.2em;
  margin-left: 1em;
}

.socials-intro * {
  margin: 0 0.5em;
}

.fa-github {
  color: #171515;
  font-size: 4rem;
  cursor: pointer;
}

.fa-github:hover {
  color: #3d3d3d;
}

.arrow {
  animation: roll-out 1.5s ease infinite;
}

@keyframes roll-out {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .intro {
    flex-basis: 80%;
  }

  h1 {
    margin: 0;
  }

  .intro img {
    margin: 0;
  }

  .socials-intro {
    margin-bottom: 0.5em;
  }


}

@media only screen and (min-width: 1441px) and (max-width:1920px) {
  .socials-intro {
    margin-bottom: 1em;
  }

  .intro img {
    margin: 1em 0;
  }

  .intro h1 {
    margin: 0;
  }
}

@media only screen and (min-width: 1921px) {

  .intro {
    flex-basis: 80%;
  }

  h1 {
    margin: 0;
  }

  .intro img {
    margin: 1em;
  }

  .intro__subtitle {
    padding: 1em 7em;
  }

  .intro {
    margin-top: auto;
  }

  .intro h1 {
    font-size: 7rem;
  }

  .intro__subtitle span {
    font-size: 2.75rem;
  }

  .socials-intro {
    font-size: 3rem;
    margin: 0.5em 0 1em 0;
  }

  .fa-github {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 800px) {

  .hero {
    height: auto;
  }

  .intro {
    margin-top: 5em;
    margin-bottom: 1em;
    justify-content: space-evenly;
  }

  h1 {
    margin-bottom: 0;
    font-size: 4rem;
  }

  .intro img {
    margin-bottom: 1em;
  }

  .intro__subtitle {
    margin-top: 1em;
    text-align: center;
    padding: 0.5em 2em;
    margin: 0;
  }

  .welcome-message h1 {
    margin: 0;
  }

  .intro__subtitle span {
    font-size: 1.1rem;
  }

  .socials-intro {
    margin: 0 0 0 0.5em;
    padding: 0;
    font-size: 1.2rem;
  }

  .fa-github {
    font-size: 3rem;
  }
}

@media only screen and (min-width:800px) and (max-width:1023px) {

  .intro {
    flex-basis: 80%;
  }

  .intro__subtitle span {
    font-size: 1.5rem;
  }

  .intro__subtitle {
    margin-bottom: 0;
  }

  h1 {
    margin: auto 0 0 0;
  }

  .socials-intro {
    margin: 0 0 0.5em 0;
    font-size: 1.5rem;
  }

  .socials-intro .arrow {
    font-size: 1.7rem;
  }

  .socials-intro i {
    font-size: 3rem;
  }

  .intro img {
    margin: 0;
  }
}

/* Skills */

.work {
  background: #fae5df no-repeat center/cover;
  color: var(--clr-dark);
  text-align: center;
  margin: 3em 2em 2em 2em;
  border-radius: 1em;
  padding: 1em;
}

.work-paragraph {
  max-width: 500px;
  min-width: 200px;
  font-size: 1.3rem;
  padding: 0 0.5em;
  line-height: 1.7;
  margin: 0 0 0.5em 0;
}

.work-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.work>h2 {
  margin: 0;
  padding: 0;
  font-size: 2.75rem;
  color: #fa654e;
}

.work h3 {
  margin-top: 0;
}

.work>hr {
  width: 20%;
  border-top: 2px var(--clr-dark) solid;
  margin-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  .work {
    margin: 2em 1em 1em 1em;
    padding: 0.3em;
  }

  .work h2 {
    padding: 0;
  }

  .work hr {
    width: 60%;
  }

  .work p {
    font-size: 1.1rem;
  }
}

/* Techstack */

#skills {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 3px solid #8f8989;
  border-radius: 1em;
  margin: 2em;
}

#skills>h2 {
  font-size: 2.75rem;
  flex-basis: 10%;
  margin: auto 1em auto;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 90%;
  flex-wrap: wrap;
}

.logos i {
  font-size: 4em;
}

.single-logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.5em 1.5em;
}

.html-logo {
  color: RGB(228, 77, 38);
}

.css-logo {
  color: RGB(33, 76, 229);
}

.javascript-logo {
  color: #e4d01ed0;
}

.react-logo {
  color: #61dbfb;
}

.node-logo {
  color: #83cd29;
}

.git-logo {
  color: #f05030;
}

.github-logo {
  color: #171515;
}

.bootstrap-logo {
  color: #860afb;
}

.tailwind-logo {
  color: #38bdf8;
}

.tailwind-logo img {
  padding: 0.825em 0;
}

.command-logo i {
  padding-top: 0.15em;
}

.fa-terminal {
  font-size: 3.5em !important;
}

@media only screen and (max-width: 850px) {
  #skills {
    flex-direction: column;
    margin: 1em;
  }

  #skills h2 {
    margin: 0 auto;
  }

  .single-logo {
    padding: 0.5em 1em;
  }

}

@media only screen and (min-width: 2000px) {
  .logos {
    justify-content: center;
  }

  .single-logo {
    font-size: 1.5rem;
    padding: 0.5em 2em;
  }

  .logos i {
    font-size: 4em;
  }
}

/* ABOUT */

.about h2 {
  font-size: 2.75rem;
  margin: 0;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  margin: 0 1em;
}

.about img {
  box-shadow: var(--shadow);
  max-width: 70%;
  margin: 3em auto 0;
}

@media only screen and (min-width: 1000px) {

  .about {
    display: grid;
    grid-template-columns: 1fr min-content;
    margin: 6em auto 0 auto;
    justify-items: center;
    max-width: 1300px;
  }

  .about-text {
    font-size: 1.3rem;
  }

  .about img {
    margin: 1em 2em 0 2em;
    min-width: 300px;
    max-width: 100%;
    height: auto;
  }

  .about-text {
    margin-left: 2em;
    margin-right: 0;
  }

  .image--div {
    margin-right: 2em;
    overflow: hidden;
    align-self: center;
  }

}

@media only screen and (max-width: 800px) {
  .about p {
    margin-top: 0;
  }
}

/*Projects */

.projects {
  margin: 0em auto;
  margin-top: 6em;
  background-color: #303179;
}

.projects h2 {
  text-align: center;
  font-size: 2.75rem;
  color: white;
  padding-top: 1em;
  margin-bottom: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0;
  margin: 0 auto;
  gap: 2em;
}

.card {
  margin: 10px 2em;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  max-width: 450px;
  transition: all 0.2s ease-in;
}


.card-header img {
  height: 250px;
  width: 100%;
  object-fit: fill;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px 20px 20px;
  margin-top: 10px;
}

.tag-container {
  margin-top: auto;
  height: 65px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  padding: 4px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #61DAFB;
}

.tag-lightblue {
  background-color: lightblue;
}

.tag-pink {
  background-color: #cd5b9f;
}

.tag-green {
  background-color: #83cd29;
}

.tag-darkgreen {
  background-color: #023430;
}

.card-body h4 {
  font-size: 1.7rem;
  margin: 0.2em 0 0.5em 0;
  align-self: center;
}

.card-body p {
  font-size: 1rem;
  margin: 0 0 1em 0;
}

.card-buttons {
  align-self: center;
  justify-content: center;
  margin-top: auto;
}

.card-buttons a {
  color: white;
  background-color: var(--clr-dark);
  border-radius: 10em;
  padding: 10px 15px;
  margin: 0 10px 20px 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.card-buttons a:hover {
  background-color: rgb(75, 75, 75);
}

@media only screen and (max-width: 800px) {
  .projects h2 {
    margin: 0;
    padding: 0.2em 0;
  }

  .card-container {
    padding-top: 0;
  }
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: flex;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2em 1em;
}

.contact h2 {
  font-size: 2.75rem;
  margin: 0;
  text-align: center;
  padding-top: 0.5em;
}

.contact h3 {
  font-size: 1.5rem;
}

.contact hr {
  width: 15%;
  border-top: 2px var(--clr-dark) solid;
  margin: 0.5em auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: var(--ff-primary);
}

input {
  border: 2px solid #f5cac2;
  padding: 1em;
  margin: 1em;
  font-family: var(--ff-primary);
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

textarea {
  border: 2px solid #f5cac2;
  padding: 1em;
  margin: 1em 1em 0.5em 1em;
  resize: none;
  font-family: var(--ff-primary);
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f5cac2;
  font-weight: 700;
  width: 20%;
  align-self: center;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 1em;
  padding: 0.7em 4em;
  border-radius: 2px;
  gap: 7px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #ed7966;
  transition: all 0.1s ease-in;
  color: white;
}

.submit-btn:active {
  scale: 95%;
}

input:focus {
  outline: none;
  border-color: #ed7966;
}

textarea:focus {
  outline: none;
  border-color: #ed7966;
}

.fa-envelope {
  font-size: 1.5rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2em;
  padding-bottom: 6em;
  overflow: hidden;
}

.link-container {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.contact-links p {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  margin-right: auto;
}

.contact-links a {
  color: #141850;
}

.contact-links i {
  display: inline-block;
  font-size: 2.3rem;
  color: #141850;
  margin-right: 1rem;
  width: 50px;
}

@media only screen and (max-width: 800px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form form {
    width: 100%;
  }

  .contact-links {
    width: 100%;
    text-align: center;
    padding: 0 1em 2em 1em;
    margin: auto;
  }

  input {
    margin-left: 0;
    margin-right: 0;
  }

  textarea {
    margin-left: 0;
    margin-right: 0;
  }

}

@media only screen and (max-width: 500px) {

  .contact-links p {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 800px) {
  .contact hr {
    width: 50%;
    margin: 0.2em auto;
  }

  .contact-form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 800px) {
  form {
    width: 100%;
  }
}

footer {
  background-color: #fae5df;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

footer p {
  padding: 0.6em 0;
  margin: 0;
}

/* fade in animation */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card:nth-child(1) {
  transition-delay: 300ms;
}

.card:nth-child(2) {
  transition-delay: 600ms;
}

.card:nth-child(3) {
  transition-delay: 900ms;
}